*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", serif;
    box-sizing: border-box;
    background-color: rgb(228, 240, 255);
}

.container{
    position: fixed;
    background-image: url(./img/bg.png);
    color: white;
    width: 500px;
    border-radius: 40px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
 
}
.cont1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 40px;
    padding-right: 40px;
    
}
.card{
    
    display: flex;
    gap: 10px;
    padding-top: 10px;
    text-align: center;
}
.card p{
    padding-top: 10px;
    font-size: 20px;
}
.card_txt{
    margin-left: 50px;
    line-height: 28px;
    padding-top: 30px;
}
.card_txt1{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.card_txt h3{
    letter-spacing: 1.9px;
}
.card_txtright{
padding-bottom: 20px;
}